.comment-section-member{
    display: block;
    width: 100%;
    height: auto;
}

.item-comment{
    display: flex;
    justify-content: left;
    width: calc(100% - 20px);
    margin-top: 10px;
    padding: 10px;
    height: auto;
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3);
}
.fr-member[dark-mode="true"] .item-comment{
    background-color: #414141;
}


/* --------------------------------------------------------- */
.fr-image-item-comment{
    display: block;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}
.fr-image-item-comment img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* --------------------------------------------------------- */
.fr-text-item-comment{
    display: block;
    margin-left: 5px;
    width: calc(100% - 45px);
    height: auto;
}
.fr-text-item-comment .list-in-line {
    margin-top: 0px !important;
}
.fr-text-item-comment > div > ul{
    font-size: 14px !important;
    margin-top: 0px !important;
    color: black;
}
.fr-member[dark-mode="true"] .fr-text-item-comment > div > ul{
    color: rgb(255, 255, 255) ;
}

.name-user-item-comment{
    font-weight: bold !important;
}
.fr-member[dark-mode="true"] .fr-text-item-comment > div > ul{
    color: rgb(255, 255, 255);
}



.fr-ms-item-comment{
    float: left;
    width: 100%;
    height: auto;
}


.fr-ms-item-comment > span:first-child{
    float: left;
    font-size: 15px;
    margin-top: 5px;
    width: 100%;
    height: auto;
    color: black;
}
.fr-member[dark-mode="true"] .fr-ms-item-comment > span:first-child{
    color: rgb(227, 227, 227);
}


.fr-ms-item-comment > span:nth-child(2){
    float: left;
    width: 100%;
    margin-top: 5px;
    /* background-color: beige; */
}
.fr-ms-item-comment > span:nth-child(2) > span{
    float: left;
    cursor: pointer;
    margin-right: 10px;
}
.fr-ms-item-comment > span:nth-child(2) p{
    float: left;
    font-size: 12px;
    color: rgba(100, 148, 237, 0.781);
    cursor: pointer;
}
.fr-ms-item-comment > span:nth-child(2) svg{
    float: left;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    fill: rgba(100, 148, 237, 0.781);
}



/* .delete-btn-ms-item-comment{
    margin-top: 1px;
    float: left !important;
}

.delete-btn-ms-item-comment *{
    fill: rgb(174, 174, 174) !important;
    color:  rgb(176, 176, 176) !important;
}

.fr-member[dark-mode="true"].delete-btn-ms-item-comment *{
    fill: rgb(177, 177, 177) !important;
    color:  rgb(120, 120, 120) !important;
} */



.btn-more-reply-comment{
    float: left;
    width: 100%;
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin: 7px 0px 0px 0;
}
.btn-more-reply-comment span:hover{
    text-decoration: underline;
}
.btn-more-reply-comment svg{
    float: left;
    width: 13px;
    height: 13px;
    fill: black;
}
.fr-member[dark-mode="true"] .btn-more-reply-comment{
    color: rgb(255, 255, 255);
}
.fr-member[dark-mode="true"] .btn-more-reply-comment svg{
    fill: rgb(255, 255, 255);
}




/* --------------------------------------------------------- */

.fr-ms-item-comment > span:nth-child(4), .fr-ms-item-comment > span:nth-child(3){
    float: left;
    width: 100%;
}

.item-reply-comment{
    margin-bottom: 0px !important;
    padding: 0px !important;
    margin-top: 10px;
    width: 100% !important;
    box-shadow: none !important;
}




.item-input-comment{
    display: flex;
    justify-content: left;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3);
}
.fr-member[dark-mode="true"] .item-input-comment{
    background-color: #414141;
}

.item-input-comment span:nth-child(2){
    margin-left: 5px;
    width: calc(100% - 45px);
    float: left;
}
.item-input-comment span:nth-child(2) textarea{
    float: left;
    width: calc(100% - 10px);
    background-color: antiquewhite;
    height: auto;
    padding:6px 5px 5.5px 5px;
    font-size: 15px;
    border-radius: 3px;
    resize: none;
    border: 1px solid rgb(124, 124, 124);
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.fr-member[dark-mode="true"] .item-input-comment span:nth-child(2) textarea{
    border: 1px solid black;
}

.item-input-comment span:nth-child(2) button{
    float: left;
    padding: 5px 20px;
    color: white;
    background-color: coral;
    border: 1px solid rgb(229, 229, 229);
    margin-top: 5px;
    border-radius: 4px;
}
.fr-member[dark-mode="true"] .item-input-comment span:nth-child(2) button{
    border: 1px solid rgb(44, 44, 44);
}



.item-input-reply-comment{
    padding: 0;
    margin-top: 11px;
    margin-bottom: 0px;
    width: 100%;
    display: none;
    box-shadow: none !important;
}