.head-group{
    height: auto;
    width: calc(100% - 1px);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.head-group p{
    color: rgb(73, 73, 73);
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;

    margin-right: auto;
    padding: 5px 0px;
}

.head-group[dark-mode="true"] p{
    color: white;
}

.head-group span{
    display: flex;
    align-items: center;
    justify-content: left;

    padding: 7px 9px 7px 7px;
    background-color: cadetblue;
    color: white;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
}

.icon-btn-headgroup{
    display: inline;
    margin-right: 4px;
    width: 18px;
    height: 18px;
}


@media only screen and (min-width: 650px)  and (max-width: 820px) {
    .head-group p{
        font-size: 19px;
    }
}


@media only screen and (max-width: 650px){ 
    .head-group p{
        font-size: 18px;
    }

    .head-group{
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }
}




