@media only screen and (min-width: 1050px) {
    .content-login > div{
        width: calc(390px);
    }
    
}

@media only screen and (min-width: 925px)  and (max-width: 1050px) {
    .content-login > div{
        width: calc(390px);
    }
}


@media only screen and (min-width: 820px)  and (max-width: 925px) {
    .content-login > div{
        width: calc(390px);
    }
}


@media only screen and (min-width: 650px)  and (max-width: 820px) {
    .content-login > div{
        width: calc(390px);
    }
}

@media only screen and (min-width: 350px)  and (max-width: 650px) {

    .content-login > div{
        width: calc(350px);
    }

    .content-login > div input{
        width: calc(100% - 22px);
        padding: 10px 10px;
    }

}

@media only screen and (max-width: 380px){ 
    .content-login > div{
        width: calc(100% - 20px);
    }

    .content-login > div input{
        width: calc(100% - 22px);
        padding: 10px 10px;
    }

    .title-text-login{
        font-size: 14px;
    }
}




@media only screen and (max-width: 510px){ 
    .verify-layout{
        width: calc(100% - 20px);
        padding-left: 10px;
    }
}








@media only screen and (min-width: 400px)  and (max-width: 650px) {
    .contain-login-layout{
        width: 390px;
    }
}
@media only screen and (max-width: 400px){ 
    .contain-login-layout{
        width: calc(100% - 1px);
    }
}



