
.vertical-menu{
    position: relative;
    float: left;
    background-color:white;
    width: 200px;
    height: 100%;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.fr-account[dark-mode="true"]  .vertical-menu{
    background-color: #414141;
}

.fr-account[dark-mode="true"]  .vertical-menu p{
    color: rgb(174, 174, 174);
}


.vertical-menu p{
    position: relative;
    float: left;
    margin-top: 13px;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(136, 136, 136);
}



#expand-vertical-menu{
    position: relative;
    float: left;
    border: none;
    padding: 4px 10px;
    cursor: pointer;
}


.fr-account[dark-mode="true"]  #expand-vertical-menu{
    background-color: #414141;
    fill: white;
}
.fr-account[dark-mode="true"]  #expand-vertical-menu svg{
    fill: white;
}



.item-vertical-menu{
    position: relative;
    float: left;
    background-color:white;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.fr-account[dark-mode="true"]  .item-vertical-menu li{
    background-color: #414141;
    color: white;
}

.item-vertical-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}
.item-vertical-menu li{
    position: relative;
    float: left;
    /* background-color: rgb(0, 255, 179); */
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: white;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px !important;
}



@media only screen and (max-width: 800px){ 
    .vertical-menu{
        width: 100%;
    }
    .item-vertical-menu{
        display: none;
    }
}